h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

li{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



